# Predictive Modeling on the ABCD study dataset: Data Exploration

In this notebook, we explore the Stop Signal Task (SST) of the ABCD study. The dataset comes from the ABCD Study: https://abcdstudy.org/

In [2]:
# DO NOT HAVE ACCESS TO AGE AT THE TIME?

### Step 1: Import Python Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
from pathlib import Path
from ipywidgets import interact
import ipywidgets as widgets

# Visualization parameters
%matplotlib inline
a4_dims = (9.7, 3.27)
plt.rcParams['figure.figsize'] = (7, 5)
plt.rcParams['figure.dpi'] = 100
plt.rcParams['savefig.dpi'] = 500
plt.rcParams["figure.autolayout"] = True

### Step 2: Load the data

We are interested in the following contrasts:

SST: correct Stop versus correct Go 

SST: incorrect Stop versus correct Go.

We will be using the prefix `tfsstabwdp_` to filter out all of these contrasts using the `Destrieux` parcellation ATLAS.

In [55]:
data = Path(os.path.join("../", "data"))

abcd_demo = pd.read_csv(data/"abcd_p_demo.csv")
abcd_lt = pd.read_csv(data/"abcd_y_lt.csv")
df1 = pd.read_csv(data/"mri_y_tfmr_sst_csvcg_dst.csv")
df2 = pd.read_csv(data/"mri_y_tfmr_sst_isvcg_dst.csv")

# merge data frames into one
data_df = df1.merge(df2, on=["src_subject_id", "eventname"], how="left")

# filter out sst data
sst_columns = data_df.filter(like="tfsstabwdp_")
Destrieux_SST = pd.concat([data_df[["src_subject_id", "eventname"]], sst_columns], axis=1)

In [4]:
len(Destrieux_SST.src_subject_id.unique())

11027

### Step 3: Count null values

In [5]:
null_counts = Destrieux_SST.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

tfsstabwdp_302    9
tfsstabwdp_316    9
tfsstabwdp_324    9
tfsstabwdp_396    9
tfsstabwdp_322    9
                 ..
tfsstabwdp_272    5
tfsstabwdp_198    5
tfsstabwdp_271    5
tfsstabwdp_197    5
tfsstabwdp_154    5
Length: 296, dtype: int64

In [6]:
# remove rows with Null values
Destrieux_SST = Destrieux_SST.dropna()

new_null_counts = Destrieux_SST.isnull().sum()
new_null_counts[new_null_counts > 0]

Series([], dtype: int64)

### Step 4: Add contrasts information

Next, we want to extract the following contrasts:

- SST: correct Stop versus correct Go

- SST: incorrect Stop versus correct Go

The correct Stop versus correct Go run from tfsstabwdp_149 to tfsstabwdp_296.

The incorrect Stop versus correct Go run from tfsstabwdp_297 to tfsstabwdp_444.

In [7]:
Destrieux_SST

,src_subject_id,eventname,tfsstabwdp_154,tfsstabwdp_228,tfsstabwdp_155,tfsstabwdp_229,tfsstabwdp_156,tfsstabwdp_230,tfsstabwdp_149,tfsstabwdp_223,...,tfsstabwdp_366,tfsstabwdp_440,tfsstabwdp_367,tfsstabwdp_441,tfsstabwdp_368,tfsstabwdp_442,tfsstabwdp_369,tfsstabwdp_443,tfsstabwdp_370,tfsstabwdp_444
0,NDAR_INV003RTV85,baseline_year_1_arm_1,-0.149605,-0.174828,-0.013256,0.113432,-0.101847,-0.062040,-0.097332,-0.158990,...,-0.255056,-0.327929,-0.112484,-0.052497,-0.014438,-0.211108,0.067975,0.138177,0.029652,-0.102042
1,NDAR_INV005V6D2C,baseline_year_1_arm_1,-0.172440,-0.223380,0.074744,0.060927,0.003457,-0.076963,0.175204,-0.164309,...,-1.888047,-1.416510,-0.398687,-0.636936,-0.466801,-0.354012,-0.325601,-0.256631,-0.057869,-0.414039
2,NDAR_INV007W6H7B,baseline_year_1_arm_1,-0.010771,0.083618,0.055696,-0.003107,0.104688,0.016953,-0.231481,-0.268936,...,-0.170761,-0.178557,0.202939,0.037519,0.417104,0.668192,0.148352,0.095323,0.145479,0.154221
3,NDAR_INV00BD7VDC,baseline_year_1_arm_1,-0.053103,-0.004048,0.046030,0.086685,0.063254,0.155009,0.124548,0.067561,...,-0.246516,-0.331469,-0.137232,-0.181366,0.147939,-0.192708,-0.056710,-0.008076,-0.201146,-0.007578
4,NDAR_INV00CY2MDM,2_year_follow_up_y_arm_1,-0.129385,-0.053957,0.148208,0.106023,0.050831,0.143123,-0.033714,0.112141,...,-0.021743,0.106453,0.074073,0.115022,0.168943,0.162317,0.142121,0.181069,0.188156,0.095772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19927,NDAR_INVZZZ2ALR6,baseline_year_1_arm_1,0.088177,0.158888,0.118404,0.108464,-0.016163,0.078596,-0.094376,0.073550,...,0.124193,0.200333,0.246803,0.383458,-0.024918,0.247412,0.278051,0.491906,0.323814,0.249895
19928,NDAR_INVZZZNB0XC,4_year_follow_up_y_arm_1,0.247949,0.208909,0.343190,0.300724,0.203630,0.267437,0.109268,0.122724,...,-0.628015,-0.330611,-0.131158,-0.122427,0.140082,0.020478,-0.055349,-0.096313,-0.147136,-0.059786
19929,NDAR_INVZZZNB0XC,baseline_year_1_arm_1,-0.148778,-0.091126,0.064281,0.178064,-0.124523,-0.011796,-0.091755,0.034466,...,-0.500629,-0.987296,-0.590315,-0.442530,-0.227099,0.173324,-0.217835,-0.178233,-0.288869,-0.212007
19930,NDAR_INVZZZP87KR,2_year_follow_up_y_arm_1,-0.087253,-0.075054,-0.059327,-0.064608,-0.023440,0.020002,0.007485,-0.136996,...,0.229794,0.328085,0.250301,0.197008,0.075787,-0.041175,0.100473,0.097594,0.320063,0.276801
19931,NDAR_INVZZZP87KR,4_year_follow_up_y_arm_1,0.071201,0.088664,0.011245,-0.028126,0.006545,0.105854,-0.087396,-0.007628,...,-0.054734,0.369018,0.280961,0.322908,0.463767,0.248070,0.234935,0.216538,0.134658,0.093417

In [111]:
### NOTE: WE GET ALL RECORDS WHERE WE HAVE MALE VS. FEMALE AND THE SAME SUBJECT IN BOTH BASELINE AND FOLLOWUP
### THIS RESULTS IN 6254 UNIQUE RECORDS

# Filter for records where male/female status is known
baseline_demo = abcd_demo.loc[abcd_demo.eventname == "baseline_year_1_arm_1"]
baseline_demo = baseline_demo.loc[baseline_demo["demo_sex_v2"].isin([1, 2])]
b_subject_ids = baseline_demo["src_subject_id"].unique()

baseline_lt = abcd_lt.loc[abcd_lt.eventname == "baseline_year_1_arm_1"]
followup_lt = abcd_lt.loc[abcd_lt.eventname == "2_year_follow_up_y_arm_1"]

# Separate into baseline and two-year followup
baseline_df = Destrieux_SST.loc[Destrieux_SST.eventname == "baseline_year_1_arm_1"]
followup_df = Destrieux_SST.loc[Destrieux_SST.eventname == "2_year_follow_up_y_arm_1"]

b_subject_ids = baseline_df.loc[baseline_df["src_subject_id"].isin(b_subject_ids)]["src_subject_id"].unique()
f_subject_ids = followup_df.loc[followup_df["src_subject_id"].isin(b_subject_ids)]["src_subject_id"].unique()

baseline_df = baseline_df.loc[baseline_df["src_subject_id"].isin(f_subject_ids)]
followup_df = followup_df.loc[followup_df["src_subject_id"].isin(f_subject_ids)]

baseline_demo = baseline_demo.loc[baseline_demo["src_subject_id"].isin(f_subject_ids)]
baseline_lt = baseline_lt.loc[baseline_lt["src_subject_id"].isin(f_subject_ids)]
followup_lt = followup_lt.loc[followup_lt["src_subject_id"].isin(f_subject_ids)]

baseline_demo = baseline_demo.drop("eventname", axis=1)
baseline_lt = baseline_lt.drop("eventname", axis=1)
followup_lt = followup_lt.drop("eventname", axis=1)

baseline_df = baseline_df.merge(baseline_demo, on=["src_subject_id"])
baseline_df = baseline_df.merge(baseline_lt, on=["src_subject_id"])

followup_df = followup_df.merge(baseline_demo, on=["src_subject_id"])
followup_df = followup_df.merge(followup_lt, on=["src_subject_id"])

In [112]:
baseline_df

,src_subject_id,eventname,tfsstabwdp_154,tfsstabwdp_228,tfsstabwdp_155,tfsstabwdp_229,tfsstabwdp_156,tfsstabwdp_230,tfsstabwdp_149,tfsstabwdp_223,...,race_ethnicity,acs_raked_propensity_score,site_id_l,rel_family_id,rel_birth_id,school_id,district_id,interview_date,interview_age,visit_type
0,NDAR_INV00CY2MDM,baseline_year_1_arm_1,0.001988,-0.061784,0.025479,0.023070,0.084555,0.120872,-0.072277,0.108144,...,1.0,1433.061575,site20,5355.0,53551.0,NaN,NaN,08/22/2017,130.0,1.0
1,NDAR_INV00HEV6HB,baseline_year_1_arm_1,0.156079,0.085460,-0.171020,0.079661,-0.081916,-0.045603,-0.557458,-0.269451,...,2.0,650.876929,site12,2257.0,22571.0,NaN,NaN,07/08/2017,124.0,1.0
2,NDAR_INV00U4FTRU,baseline_year_1_arm_1,0.180306,0.126086,-0.031762,0.027738,-0.043941,-0.041289,0.161269,-0.086785,...,5.0,1778.916737,site04,2464.0,24641.0,NaN,6815.0,05/19/2018,130.0,1.0
3,NDAR_INV00X2TBWJ,baseline_year_1_arm_1,0.122249,-0.082942,0.181219,0.122269,0.045643,0.117616,0.032588,-0.441620,...,3.0,907.279771,site14,3692.0,36921.0,NaN,13889.0,05/12/2017,130.0,1.0
4,NDAR_INV010ZM3H9,baseline_year_1_arm_1,-0.247205,-0.735447,0.756608,-0.053257,-0.225100,-0.163556,-2.946458,-3.648983,...,1.0,550.058750,site12,1862.0,18621.0,NaN,14043.0,05/05/2018,112.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6255,NDAR_INVZZ6ZJ2KY,baseline_year_1_arm_1,-0.056455,-0.036248,-0.052365,0.030967,0.010967,0.019874,-0.179490,-0.048514,...,1.0,375.709776,site06,9345.0,93451.0,NaN,10342.0,01/11/2018,124.0,1.0
6256,NDAR_INVZZ81LEEV,baseline_year_1_arm_1,0.117272,0.081566,0.233194,0.018394,-0.018188,0.082699,-0.595456,-0.438072,...,2.0,802.807890,site11,8433.0,84332.0,91674.0,9674.0,07/11/2017,108.0,1.0
6257,NDAR_INVZZLZCKAY,baseline_year_1_arm_1,0.025210,0.164892,-0.030853,-0.081547,-0.018977,0.031020,0.398041,0.132955,...,1.0,389.141755,site06,9347.0,93471.0,NaN,NaN,08/26/2017,110.0,1.0
6258,NDAR_INVZZPKBDAC,baseline_year_1_arm_1,-0.021217,-0.039354,0.162215,0.197989,0.173467,0.111320,0.173190,0.130388,...,1.0,568.508011,site12,2445.0,24451.0,NaN,NaN,01/20/2018,113.0,1.0
6259,NDAR_INVZZZ2ALR6,baseline_year_1_arm_1,0.088177,0.158888,0.118404,0.108464,-0.016163,0.078596,-0.094376,0.073550,...,5.0,164.792483,site08,7032.0,70321.0,61917.0,11514.0,06/15/2017,121.0,1.0

In [113]:
followup_df

,src_subject_id,eventname,tfsstabwdp_154,tfsstabwdp_228,tfsstabwdp_155,tfsstabwdp_229,tfsstabwdp_156,tfsstabwdp_230,tfsstabwdp_149,tfsstabwdp_223,...,race_ethnicity,acs_raked_propensity_score,site_id_l,rel_family_id,rel_birth_id,school_id,district_id,interview_date,interview_age,visit_type
0,NDAR_INV00CY2MDM,2_year_follow_up_y_arm_1,-0.129385,-0.053957,0.148208,0.106023,0.050831,0.143123,-0.033714,0.112141,...,1.0,1433.061575,site20,NaN,NaN,NaN,NaN,06/15/2019,152.0,1.0
1,NDAR_INV00HEV6HB,2_year_follow_up_y_arm_1,-0.424897,-0.308583,-0.177224,-0.155726,-0.273635,-0.255610,-0.526887,-0.206159,...,2.0,650.876929,site12,NaN,NaN,NaN,NaN,08/05/2019,149.0,1.0
2,NDAR_INV00U4FTRU,2_year_follow_up_y_arm_1,0.079677,0.133159,0.087999,-0.002313,0.186444,0.168833,0.138955,0.001202,...,5.0,1778.916737,site04,NaN,NaN,NaN,6815.0,09/02/2020,157.0,3.0
3,NDAR_INV00X2TBWJ,2_year_follow_up_y_arm_1,0.181363,0.181648,0.196699,0.133660,0.105910,0.042437,0.562238,-0.116366,...,3.0,907.279771,site14,NaN,NaN,5949.0,13889.0,05/10/2019,154.0,1.0
4,NDAR_INV010ZM3H9,2_year_follow_up_y_arm_1,-0.051536,-0.071374,-0.017478,-0.015395,0.049456,0.073359,0.098185,-0.160475,...,1.0,550.058750,site12,NaN,NaN,NaN,14043.0,03/08/2020,134.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6255,NDAR_INVZZ6ZJ2KY,2_year_follow_up_y_arm_1,-0.000053,0.068060,0.057578,0.131181,0.075422,0.029315,0.090219,0.022789,...,1.0,375.709776,site06,NaN,NaN,44827.0,10342.0,02/19/2020,150.0,1.0
6256,NDAR_INVZZ81LEEV,2_year_follow_up_y_arm_1,0.023479,-0.069686,0.074941,0.051139,0.059338,0.108405,-0.188261,0.114417,...,2.0,802.807890,site11,NaN,NaN,91674.0,9674.0,04/29/2019,130.0,1.0
6257,NDAR_INVZZLZCKAY,2_year_follow_up_y_arm_1,-0.656909,-1.034874,-0.482399,-0.063011,0.232971,0.159990,-11.399078,-13.210508,...,1.0,389.141755,site06,NaN,NaN,NaN,NaN,06/14/2019,131.0,1.0
6258,NDAR_INVZZPKBDAC,2_year_follow_up_y_arm_1,-0.023196,0.048996,0.070226,0.067451,0.008806,0.068069,-0.053043,-0.315634,...,1.0,568.508011,site12,NaN,NaN,NaN,NaN,01/11/2020,136.0,1.0
6259,NDAR_INVZZZ2ALR6,2_year_follow_up_y_arm_1,0.114760,0.167648,0.121422,0.121744,0.007384,0.022089,0.189713,0.138098,...,5.0,164.792483,site08,NaN,NaN,NaN,NaN,06/29/2019,145.0,1.0

In [115]:
580 - 148

432

In [116]:
sum(followup_df["src_subject_id"].unique() == baseline_df["src_subject_id"].unique())

6260

In [121]:
EXTRA_COLUMNS = list(abcd_demo.columns) + list(abcd_lt.columns)
EXTRA_COLUMNS = [c for c in EXTRA_COLUMNS if c not in ["src_subject_id", "eventname"]]

c_stop_go_features = ["tfsstabwdp_" + str(i) for i in range(149, 297)]
i_stop_go_features = ["tfsstabwdp_" + str(i) for i in range(297, 444 + 1)]

# Separate into two dataframes for the different contrasts
baseline_c_stop_go_df = baseline_df[["src_subject_id", "eventname"] + c_stop_go_features + EXTRA_COLUMNS]
baseline_i_stop_go_df = baseline_df[["src_subject_id", "eventname"] + i_stop_go_features + EXTRA_COLUMNS]

followup_c_stop_go_df = followup_df[["src_subject_id", "eventname"] + c_stop_go_features + EXTRA_COLUMNS]
followup_i_stop_go_df = followup_df[["src_subject_id", "eventname"] + i_stop_go_features + EXTRA_COLUMNS]

In [123]:
print(baseline_c_stop_go_df.shape)
print(baseline_i_stop_go_df.shape)
print(followup_c_stop_go_df.shape)
print(followup_i_stop_go_df.shape)

(6260, 432)
(6260, 432)
(6260, 432)
(6260, 432)

In [124]:
baseline_c_stop_go_df

,src_subject_id,eventname,tfsstabwdp_149,tfsstabwdp_150,tfsstabwdp_151,tfsstabwdp_152,tfsstabwdp_153,tfsstabwdp_154,tfsstabwdp_155,tfsstabwdp_156,...,race_ethnicity,acs_raked_propensity_score,site_id_l,rel_family_id,rel_birth_id,school_id,district_id,interview_date,interview_age,visit_type
0,NDAR_INV00CY2MDM,baseline_year_1_arm_1,-0.072277,0.147229,0.122712,0.019083,0.259733,0.001988,0.025479,0.084555,...,1.0,1433.061575,site20,5355.0,53551.0,NaN,NaN,08/22/2017,130.0,1.0
1,NDAR_INV00HEV6HB,baseline_year_1_arm_1,-0.557458,-0.126797,-0.166221,0.008992,-0.089459,0.156079,-0.171020,-0.081916,...,2.0,650.876929,site12,2257.0,22571.0,NaN,NaN,07/08/2017,124.0,1.0
2,NDAR_INV00U4FTRU,baseline_year_1_arm_1,0.161269,-0.371111,-0.111674,-0.034581,0.160800,0.180306,-0.031762,-0.043941,...,5.0,1778.916737,site04,2464.0,24641.0,NaN,6815.0,05/19/2018,130.0,1.0
3,NDAR_INV00X2TBWJ,baseline_year_1_arm_1,0.032588,0.270389,-0.188393,0.166681,0.422957,0.122249,0.181219,0.045643,...,3.0,907.279771,site14,3692.0,36921.0,NaN,13889.0,05/12/2017,130.0,1.0
4,NDAR_INV010ZM3H9,baseline_year_1_arm_1,-2.946458,-1.448809,1.205950,0.333213,-5.486657,-0.247205,0.756608,-0.225100,...,1.0,550.058750,site12,1862.0,18621.0,NaN,14043.0,05/05/2018,112.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6255,NDAR_INVZZ6ZJ2KY,baseline_year_1_arm_1,-0.179490,-0.054726,0.146277,-0.065931,0.046814,-0.056455,-0.052365,0.010967,...,1.0,375.709776,site06,9345.0,93451.0,NaN,10342.0,01/11/2018,124.0,1.0
6256,NDAR_INVZZ81LEEV,baseline_year_1_arm_1,-0.595456,0.133930,-0.072764,0.049771,-0.420604,0.117272,0.233194,-0.018188,...,2.0,802.807890,site11,8433.0,84332.0,91674.0,9674.0,07/11/2017,108.0,1.0
6257,NDAR_INVZZLZCKAY,baseline_year_1_arm_1,0.398041,0.352283,0.133355,-0.049569,-0.184627,0.025210,-0.030853,-0.018977,...,1.0,389.141755,site06,9347.0,93471.0,NaN,NaN,08/26/2017,110.0,1.0
6258,NDAR_INVZZPKBDAC,baseline_year_1_arm_1,0.173190,0.239633,0.122410,0.071301,0.029615,-0.021217,0.162215,0.173467,...,1.0,568.508011,site12,2445.0,24451.0,NaN,NaN,01/20/2018,113.0,1.0
6259,NDAR_INVZZZ2ALR6,baseline_year_1_arm_1,-0.094376,0.112067,-0.109835,0.063831,-0.144551,0.088177,0.118404,-0.016163,...,5.0,164.792483,site08,7032.0,70321.0,61917.0,11514.0,06/15/2017,121.0,1.0

In [125]:
### CREATE A "NO-TOUCH" 10% DATASET THAT IS NOT LOOKED AT UNTIL THE VERY END
dataframes = [baseline_c_stop_go_df, baseline_i_stop_go_df, followup_c_stop_go_df, followup_i_stop_go_df]
filenames = ["baseline_c_stop_go.csv", "baseline_i_stop_go.csv", "followup_c_stop_go.csv", "followup_i_stop_go.csv"]

for i, df in enumerate(dataframes):
    df = df.sort_values("src_subject_id")

    # 90/10 split
    dev_size = int(0.9 * len(df))
    test_size = len(df) - dev_size
    
    dev_idx = np.arange(0, dev_size)
    test_idx = np.arange(dev_size, dev_size + test_size)

    dev_df = df.iloc[dev_idx]
    test_df = df.iloc[test_idx]

    # Save to files
    dev_filename = f"../output/dev_{filenames[i]}"
    dev_df.to_csv(dev_filename, index=False)
    print(f"Saved dev dataframe to {dev_filename}...")

    test_filename = f"../output/test_{filenames[i]}"
    test_df.to_csv(test_filename, index=False)
    print(f"Saved test dataframe to {test_filename}...\n")

# Save demo
demo_filename = f"../output/baseline_demo.csv"
baseline_demo.to_csv(demo_filename, index=False)
print(f"Saved demo dataframe to {demo_filename}...")

Saved dev dataframe to ../output/dev_baseline_c_stop_go.csv...
Saved test dataframe to ../output/test_baseline_c_stop_go.csv...

Saved dev dataframe to ../output/dev_baseline_i_stop_go.csv...
Saved test dataframe to ../output/test_baseline_i_stop_go.csv...

Saved dev dataframe to ../output/dev_followup_c_stop_go.csv...
Saved test dataframe to ../output/test_followup_c_stop_go.csv...

Saved dev dataframe to ../output/dev_followup_i_stop_go.csv...
Saved test dataframe to ../output/test_followup_i_stop_go.csv...

Saved demo dataframe to ../output/baseline_demo.csv...

- demo_ed_v2 : what grade is the child in (0 = KINDERGARTEN, 1 etc.)
- demo_sex_v2 : "What sex was the child assigned at birth, on the original birth certificate?" 1 = Male, 2 = Female
- demo_gender_id_v2 : "What is the child's current gender identity?" 1 = Male, 2 = Female
- demo_race_a_p___10 : White (0 NO, 1 YES)
- demo_race_a_p___11 : Black/African American
- demo_race_a_p___12 : American Indian, Native American
- demo_race_a_p___13 : Alaska Native
- demo_race_a_p___14 : Native Hawaiian
- demo_race_a_p___15 : Guamanian
- demo_race_a_p___16 : Samoan
- demo_race_a_p___17 : Other Pacific Islander
- demo_race_a_p___18 : Asian Indian
- demo_race_a_p___19 : Chinese
- demo_race_a_p___20 : Filipino
- demo_race_a_p___21 : Japanese
- demo_race_a_p___22 : Korean
- demo_race_a_p___23 : Vietnamese
- demo_race_a_p___24 : Other Asian
- demo_race_a_p___25 : Other Race
- demo_race_a_p___77 : Refuse To Answer
- demo_race_a_p___99 : Don't Know
- demo_ethn_v2 : "Do you consider the child Hispanic/Latino/Latina?" (1 = YES, 0 = NO)
- demo_ethn2_v2 : "Please choose the group that best represents the child's Hispanic origin or ancestry"
- demo_origin_v2 : "In which country was the child born?" (189 = USA)
- demo_prnt_age_v2 : parent age
- demo_prnt_marital_v2 : marital status (1 = married, 2 = widowed, 3 = divorced, 4 = separated 5 = never married, 6 = living with partner, 777 = refuse to answer)
- demo_prnt_ed_v2 : parent highest grade of school
- demo_prnt_empl_v2 : parent employed (1 = working full time/part time, 2 = temporarily laid off etc.)
- demo_prnt_income_v2 : how much earn before taxes during the past 12 months
- demo_prnt_prtnr_v2 : partner? (1 = YES, 0 = NO)
- demo_prnt_prtnr_bio : partner childs biological parent?
- demo_prnt_prtnr_adopt : adoptive partner parent?
- demo_prtnr_ed_v2
- demo_prtnr_empl_v2
- demo_prtnr_income_v2
- demo_comb_income_v2 : COMBINED family income
- demo_fam_exp1_v2 : without food?
- demo_fam_exp2_v2 : without telephone?
- demo_fam_exp3_v2 : couldn't pay rent?
- demo_fam_exp4_v2 : evicted from home?
- demo_fam_exp5_v2 : services turned off?
- demo_fam_exp6_v2 : needed hospital but could not afford?
- demo_fam_exp7_v2 : needed dentist but could not afford?
- demo_roster_v2 : people living at adress?
- demo_child_time_v2 : another household the child spends signifianct amount of time in?
- demo_child_time2_v2 : hours spent in another household per week
- demo_brthdat_v2_l : years old
- demo_nat_lang_l : native language
- demo_dual_lang_v2_l : several classes taught in other languages than English?

In [ ]:
DEMO = [""]

In [19]:
abcd_demo.columns[200:250]

Index(['fam_roster_13c_v2_l', 'fam_roster_14c_v2_l', 'fam_roster_15c_v2_l',
       'demo_fam_exp1_v2_l', 'demo_fam_exp2_v2_l', 'demo_fam_exp3_v2_l',
       'demo_fam_exp4_v2_l', 'demo_fam_exp5_v2_l', 'demo_fam_exp6_v2_l',
       'demo_fam_exp7_v2_l', 'demo_yrs_1_l', 'demo_yrs_2_l', 'demo_yrs_2a_l',
       'demo_yrs_2b_l', 'demo_yrs_2_no_display_l___1', 'demo_med_insur_f_p',
       'demo_med_insur_g_p', 'demo_med_insur_h_p', 'demo_prnt_race_acs_p__10',
       'demo_prnt_race_acs_p__11', 'demo_prnt_race_acs_p__12',
       'demo_prnt_race_acs_p__13', 'demo_prnt_race_acs_p__14',
       'demo_prnt_race_acs_p__15', 'demo_prnt_race_acs_p__16',
       'demo_prnt_race_acs_p__17', 'demo_prnt_race_acs_p__18',
       'demo_prnt_race_acs_p__19', 'demo_prnt_race_acs_p__20',
       'demo_prnt_race_acs_p__21', 'demo_prnt_race_acs_p__22',
       'demo_prnt_race_acs_p__23', 'demo_prnt_race_acs_p__24',
       'demo_prnt_race_acs_p__777', 'demo_prnt_race_acs_p__999',
       'demo_prnt_ed_v2_2yr_l', 'demo_prnt_ethnic_acs_p',
       'demo_prtnr_ed_v2_2yr_l', 'demo_med_insur_a_p', 'demo_med_insur_b_p',
       'demo_med_insur_c_p', 'demo_med_insur_d_p', 'demo_med_insur_e_p',
       'demo_nat_lang_3_yrs_eng_p___7', 'demo_nat_lang_3_yrs_eng_p___8',
       'demo_nat_lang_3_yrs_eng_p___9', 'demo_nat_lang_3_yrs_eng_p___10',
       'demo_nat_lang_3_yrs_eng_p___11', 'demo_nat_lang_3_yrs_eng_p___12',
       'demo_nat_lang_3_yrs_eng_p___13'],
      dtype='object')

In [21]:
abcd_demo

,src_subject_id,eventname,demoi_p_select_language___1,demo_prim,demo_brthdat_v2,demo_ed_v2,demo_adopt_agex_v2,demo_adopt_agex_v2_bl_dk,demo_sex_v2,demo_gender_id_v2,...,demo_nat_lang_3_yrs_other_p_14,demo_nat_lang_3_p,demo_nat_lang_3_yrs_eng_p___1,demo_nat_lang_3_yrs_eng_p___2,demo_nat_lang_3_yrs_eng_p___3,demo_nat_lang_3_yrs_eng_p___4,demo_nat_lang_3_yrs_eng_p___5,demo_nat_lang_3_yrs_eng_p___6,race_ethnicity,acs_raked_propensity_score
0,NDAR_INV003RTV85,baseline_year_1_arm_1,0,1.0,10.0,5.0,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,466.092707
1,NDAR_INV003RTV85,1_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,533.381820
2,NDAR_INV003RTV85,2_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NDAR_INV003RTV85,3_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NDAR_INV005V6D2C,baseline_year_1_arm_1,1,1.0,10.0,4.0,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,520.488325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48802,NDAR_INVZZZP87KR,baseline_year_1_arm_1,0,1.0,10.0,5.0,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,835.604891
48803,NDAR_INVZZZP87KR,1_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,842.080358
48804,NDAR_INVZZZP87KR,2_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48805,NDAR_INVZZZP87KR,3_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48806,NDAR_INVZZZP87KR,4_year_follow_up_y_arm_1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
"demo_brthdat_v2" in abcd_demo.columns

True

In [69]:
"interview_age" in abcd_demo.columns

False

In [71]:
abcd_demo["demo_brthdat_v2"].head(10)

0    10.0
1     NaN
2     NaN
3     NaN
4    10.0
5     NaN
6     NaN
7     NaN
8    10.0
9     NaN
Name: demo_brthdat_v2, dtype: float64

In [27]:
baseline_demo

         src_subject_id  demo_sex_v2  demo_brthdat_v2
0      NDAR_INV003RTV85          2.0             10.0
4      NDAR_INV005V6D2C          2.0             10.0
8      NDAR_INV007W6H7B          1.0             10.0
11     NDAR_INV00BD7VDC          1.0              9.0
14     NDAR_INV00CY2MDM          1.0             10.0
...                 ...          ...              ...
48785  NDAR_INVZZNX6W2P          1.0             10.0
48790  NDAR_INVZZPKBDAC          2.0              9.0
48795  NDAR_INVZZZ2ALR6          2.0             10.0
48800  NDAR_INVZZZNB0XC          2.0              9.0
48802  NDAR_INVZZZP87KR          2.0             10.0

[11865 rows x 3 columns]

In [28]:
baseline_demo.loc[baseline_demo["src_subject_id"] == "NDAR_INV005V6D2C"]

     src_subject_id  demo_sex_v2  demo_brthdat_v2
4  NDAR_INV005V6D2C          2.0             10.0

In [29]:
followup_demo.loc[followup_demo["src_subject_id"] == "NDAR_INV005V6D2C"]

     src_subject_id  demo_sex_v2  demo_brthdat_v2
6  NDAR_INV005V6D2C          NaN              NaN